<h1>New Entry</h1>

<form method="post" action="/entries">
  <label>Author</label>
  <input name="entry[author]" type="text">

  <label>Photo URL</label>
  <input name="entry[photo_url]" type="text">

  <label>Date</label>
  <input name="entry[date_taken]" type="text">

  <input type="submit" value="Submit Entry">

</form>
