<div>
  Entry: <%= @entry.id %>
</div>

<div>
  <label>Author:</label>
  <%= @entry.author %>
</div>
<div>
  <label>Photo URL:</label>
  <%= @entry.photo_url %>
</div>
<div>
  <label>Date Taken:</label>
  <%= @entry.date_taken %>
</div>
